name: flow
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  flow:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: show commits
        run: cat commit